.env
.env.local
.env.*.local
*.env
.venv/
venv/
ENV/
env/
/bin/
/lib/
/include/
/share/
pip-log.txt
pip-delete-this-directory.txt
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
logs/
*.sql
*.sqlite
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
Desktop.ini
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
